.pagination {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: #3f3f3f;
}
.page-btn {
  width: 10px !important;
  height: 10px !important;
}
.pagination button {
  height: 20px;
  background: #fff;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
  color: #3f3f3f;
}
.pages {
  display: flex;
  justify-content: space-between;
}
.pages p {
  margin-left: 10px;
  margin-right: 10px;
  color: #3f3f3f;
}
.pages button {
  height: 20px;
  background: #fff;
  border: 1px solid #3f3f3f;
  border-radius: 3px;
  margin-top: 20px;
  color: #3f3f3f;
}
.pages > .total_pages {
  border: none;
}
.prev-btn.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}
