/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f3e3e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f3e3e;
}
.loading {
  text-align: center;
  font-size: 50px;
}
.template_header {
  color: #3f3e3e;
  text-align: left;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  max-width: 900px;
}
.template_header h2 {
  margin-right: auto;
  font-size: 14px;
}
.template_body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  max-width: 900px;
  margin: 0 auto;
}
.template_body_container {
  background: #fff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  align-self: flex-start;
}
.template_body_details h1 {
  font-weight: 500;
  text-transform: capitalize;
}
.template_body_details p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
.template_body_container:hover {
  transform: scale(1.1);
  transition: all 0.3s linear;
}
.template_body_details {
  background: #fff;
  font-weight: normal;
  color: #333447;
  font-family: cursive;
  text-align: left;
  padding: 10px;
}
.template_body_details h1 {
  font-size: 20px;
}
.template_body_details p {
  font-size: 1rem;
  color: #3f3e3e;
}
.template_body_link {
  background: #f9f9f9;
  text-align: left;
  font-size: 1rem;
  padding: 10px;
}
.template_body_link a {
  text-decoration: none;
  color: #08bd37;
}
@media screen and (max-width: 800px) {
  .template_body {
    grid-template-columns: repeat(2, 1fr);
  }
  .template_body_container {
    margin: 10px;
  }
}
@media screen and (max-width: 500px) {
  .template_body {
    grid-template-columns: 1fr;
  }
  .template_body_container {
    margin: 10px 30px;
  }

  .template_header {
    flex-direction: column;
    margin-left: 20px;
  }
  .template_header h2 {
    margin-bottom: 10px;
  }
}
